.dialogsContainer {
    display: flex;
    height: 100vh;
    border-right: 1px solid gray;
}
.colDialogs {
    width: 20%;
    min-width: 150px;
    margin: 10px;
    border-right: 1px solid gray
}
.colMessages {
    width: 80%;
    margin: 15px;
}